.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #202024;
  color: #fff;
  box-shadow: 24px;
  padding: 16px;

  .container {
    .closeButton {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }

    .ticketInfoFields {
      display: flex;
      flex-direction: column;
    }
  }
}
