.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .container {
    background-color: #202024;
    width: 48%;

    .formTitle {
      font-size: 32px;
      color: #e1e1e6;
    }

    .formFieldsContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .problemType {
        margin-bottom: 28px;
      }

      .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;

        .fieldLabel {
          padding-bottom: 4px;
          font-size: 16px;
          color: #e1e1e6;
        }

        .inputField {
          background-color: #121214;

          input {
            color: #fff;
          }

          textarea {
            color: #fff;
          }

          label {
            color: #fff;
          }

          [id^="description"] {
            color: #fff;
          }
        }

        [id^="problem"],
        [id^="priority"],
        [id^="assigned_to"] {
          background-color: #121214;
          color: #fff;
        }
      }

      [class^="MuiSvgIcon-root"] {
        fill: #fff;
      }

      .submitButton {
        font-weight: 600;
        color: #fff;
        background-color: #8257e6;

        &:active {
          background-color: #8257e5;
        }

        &:hover {
          background-color: #906de2;
        }

        &:disabled {
          color: transparent;

          span {
            color: #fff;
          }
        }
      }
    }
  }
}
