.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .container {
    background-color: #202024;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 26%;
    padding-top: 16px;
    padding-bottom: 16px;

    .item {
      .cardHeader {
        text-align: center;
        color: #fff;
        font-size: 29px;
        font-weight: bold;
      }

      .inputField {
        width: 300px;
        background-color: #121214;

        input {
          color: #fff;
        }

        label {
          color: #fff;
        }
      }

      .loginButton {
        font-weight: 600;
        background-color: #8257e6;
        color: #fff;

        &:active {
          background-color: #8257e5;
        }

        &:hover {
          background-color: #906de2;
        }

        &:disabled {
          color: transparent;

          span {
            color: #fff;
          }
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;

      .spacing {
        margin-bottom: 22px;
      }
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    .container {
      width: 80%;
    }
  }
}
